@font-face {
  font-family: craie;
  src: url("../font/MontegoBay.ttf");
}

body{
    background: url("../../images_the_district/ibg.jpg") no-repeat center center fixed;
    min-width: 100%;
    width:100%;
    background-position: 100%;
    /* font-family: craie; */
  }

body h1, h2, h3, h4,h5, h6, p, a{
    color: #970747;
  }


.districtColor{
    color: #970747;
    font-weight: bolder;
    font-size: larger;
}

.bg-district{
    background-color: #970747;
    height: 6em;
}

.btn-outline-district, .btn-outline-district:hover{
    color: #970747;
    border-color: #970747;
  
}

.btn-cat, .btn-cat:hover{
  background-color: #FFF;
  
}

.btn-cat:hover{
  background-color: #C0C0C0;
}

p.plat{
    display:flex;
    flex-wrap: wrap;
}
input.districtColor{
    caret-color: #970747;
}

.form-control:focus {
    color: #970747 !important;
}
.form-check-input:focus {
    border-color: #970747;
}

.texte-blanc{
  color:rgba(255, 255, 255, .75);
}

.texte-blanc:hover{
  color: #FFF;
}

.texte-vert{
  color:rgba(255, 255, 255, .75);
}

.texte-vert:hover{
  color: #FFF;
}


.searchBar{
  height: 30rem;
}

#logo_nav{
  height: 7rem;
}
